.card {
  background-color: $white;
  -webkit-box-shadow: 0px 20px 30px -10px rgba(76,78,97,0.5);
  -moz-box-shadow: 0px 20px 30px -10px rgba(76,78,97,0.5);
  box-shadow: 0px 20px 30px -10px rgba(76,78,97,0.5);
  margin-bottom: 30px;
  padding: 20px 30px;

  &--supervisor {
    @include card-border($cyan);
  }

  &--team-builder {
    @include card-border($red);
  }

  &--karma {
    @include card-border($orange);
  }

  &--calculator {
    @include card-border($blue);
  }

  &__header {
    color: $very-dark-blue;
    font-weight: $font-weight-600;
    margin-bottom: 5px;
  }

  &__content {
    font-size: $font-size-12;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}