.cards {
  @media (min-width: $tablet-sm) {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: $desktop-sm;
  }
}

.card-column {
  @media (min-width: $tablet-sm) {
    flex-basis: 33%;
    flex-grow: 1;
    padding: 0 15px;
  }
}