.features {
  font-weight: $font-weight-400;
  padding: 70px 0;
  
  &__title {
    @include center-text;
    font-weight: $font-weight-400;

    @media (min-width: $desktop) {
      font-size: $font-size-32;
    }
  }
  
  &__strapline {
    @include center-text;
    color: $very-dark-blue;
    
    @media (min-width: $desktop) {
      font-size: $font-size-32;
    }
  }
  
  &__content {
    @include center-text;
    margin-bottom: 50px;
    
    @media (min-width: $desktop) {
      margin: 20px auto;
      margin-bottom: 60px;
      max-width: 545px;
      width: 50%;
    }
  }
}